{% extends "music/index.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% if  user.is_authenticated %}
            
            <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_logout'%}"> ログアウト</a>
            <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_edit'%}">ユーザ情報更新</a>
        {% else %}
    <div>
        <h1 class="text-center display-3">ようこそ、MusicPlayListerへ</h1>
        <h2 class="text-center display-5">Spotifyで好きなアーティストの人気の曲で</h2>
        <h2 class="text-center display-5">プレイリストを作成します</h2>
        <h2 class="text-center display-6">ログイン/登録する
            <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_login'%}"> ログイン</a>
            <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:regist'%}"> 登録</a>
        </h2>
        {% endif %}
    </div>


{% endblock%}