{% extends 'music/index.html' %}
{% block content%}
    <h1 class= 'ms-2'>   Your Playlist</h1>
    <table class="table table-hover table-dark ms-2">
    <thead>
        <tr >
        <th scope="col"  style="width: 2%">#</th>
        <th scope="col">track_name</th>
        <th scope="col">artist_name</th>
        </tr>
    </thead>
    <tbody>
    {% for playlist_name  in playlist %}
    <tr class="table-active">
        <td>{{forloop.counter}}.</td> 
            <td>
                {{playlist_name}}
            </td>
        {% endfor %}
    </tr>
    </tbody>
    </table>

        <a type="submit" class="ms-2 mt-4 btn btn-success" href="{% url 'music_app:home' %}"> Home</a>

{% endblock content%}
