<!doctype html>
<html class="no-js" lang="ja">

<head>
  <meta charset="utf-8">
  <title> {% block title %} MusicPlayLister{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <!-- Place favicon.ico in the root directory -->

  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<!-- CSS only -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <meta name="theme-color" content="#fafafa">
</head>

{% load static %}

<body class='text-bg-dark' > 
  <header class="p-2" style="background-color:	#000000;">
  <h1 class="d-block p-2  text" style="background-color:	#000000;"> <a class='text-white'  href="{% url "music_app:base"%}">MusicPlayLister</a></h1>
  <nav class="navbar navbar-dark" >
  <!-- Navbar content -->
    <p>
          <a type="submit" class="btn btn-success " href="https://open.spotify.com/"> Spotifyへ</a>
            {% if  user.is_authenticated %}
              <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_logout'%}"> ログアウト</a>
              <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_edit'%}">ユーザ情報更新</a>
            {% else %}
              <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:user_login'%}"> ログイン</a>
              <a type="submit" class="ms-1 btn btn-success" href="{% url 'user:regist'%}"> 登録</a>
          {% comment %} <a type="submit" class="ms-1 btn btn-success"> ログアウト</a>  {% endcomment %}
            {% endif %}
    </p>
</nav>  
    {% if user.is_authenticated %}  
      {% comment %} <a type="submit" class="ms-2 btn btn-success" href="{% url 'music_app:playlist' %}"> Playlist</a> {% endcomment %}
      <a type="submit" class="ms-1 btn btn-success" href="{% url "music_app:home"%}"> Home</a>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal" data-bs-whatever="@getbootstrap">+Create!</button>
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a type="submit" class="nav-link text-success" href="{% url "music_app:home"%}"> Your Playlists </a>
        </li>
        <li class="nav-item">
            <a type="submit" class="nav-link text-success " href="{% url "music_app:favorite_tracks" %}"> Your Favorite Tracks</a>
        </li>
        <li class="nav-item">
            <a type="submit" class=" nav-link text-success " href="{% url "music_app:user_all_tracks" %}"> Your All Tracks</a>
        </li>
      </ul>
      {% comment %} <a type="submit" class="ms-2 btn btn-success collapsed" href="{% url 'music_app:create' %}"> Create!</a> {% endcomment %}
    {% endif %}
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h1 class="modal-title fs-5" id="createModalLabel">New Playlist</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark ">
                    <div class="container-fluid">
                    <form method='POST'> {% csrf_token %}
                        <div class="col-md-6 form-group">
                        {% if messages %}
                            {% for message in messages %}
                                <div>{{message}}</div>
                            {% endfor%}
                        {% endif %}
                        <label class='text-white'>アーティスト</label>
                        <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    <a class="btn btn-success collapsed" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    More...
                    </font></font></a>    
                    <div class="collapse" id="collapseExample2" style="">
                    <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    <input type="text" class="form-control " placeholder="アーティスト名を入力" name="artist">
                    </div>
                    </div>
                <div class="col-md-6 form-group">
                    <label class='mt-3 text-white'>プレイリスト名</label>
                    <input type="text" class="form-control " placeholder="プレイリスト名を入力" name="playlist_name">
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create!</button>
                </div>
                </form>
                </div>
            </div>
            </div>
            <script type="text/javascript" src="{% static 'js/create_playlist.js' %}"></script>

    </header>
    
  {% comment %} <script src="App.js"></script> {% endcomment %}
  {% block content%} {% endblock %}
</body>

</html>
