{% extends 'music/index.html' %}
{% block content%}

    <!-- Content here -->
        <div class="mt-3 container-fluid ">
            <div class="mt-3 ">
                <a type="submit" class="ms-1 btn btn-success" href="{% url 'music_app:create'%}"> Choose Artist</a>
            </div>
            <div class="mt-3">
                <h5>あなたのすべてのプレイリスト内にある曲でランダムに曲を選らんでプレイリストを作成します</h5> 
            </div>
            <form method='POST'> {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div>{{message}}</div>
                        {% endfor%}
                    {% endif %}
                <div class="col-md-6 form-group mx-auto">
                    <label class='mt-3 text-white'>Playlist-Name</label>
                    <input type="text" class="form-control " placeholder="プレイリスト名を入力" name="playlist_name">
                </div>
                <div class="d-flex justify-content-left">
                    <button type="submit" class="mt-3 mb-5 btn btn-success text-white mx-auto"  style="width: 200px; font-size:13pt;">Create ! </button>
                </div>
            </form>
        </div>

{% endblock content%}