{% extends 'music/index.html'%}
{% block content%}
<h1 class= 'ms-2'>   Your All Playlist Tracks </h1>
    <table class="table table-hover table-dark ">
    <thead>
        <tr>
        <th scope="col"  style="width: 3%">#</th>
        <th scope="col" style="width: 20%">track_name</th>
        <th scope="col" style="width: 90%">playlist_name</th>
        <th scope="col" style="width: 90%">feature</th>
        </tr>
    </thead>
    <tbody>
    {% for  playlist_name,tracks in user_alltracks.items %}
        {% for track in tracks %}
    <tr class="table-active">
        <td>{{forloop.parentloop.counter}}-{{forloop.counter}}</td> 
        <td>{{track}}</td>
        <td>{{playlist_name}}</td>
    </tr>
        {% endfor%}
    {% endfor %}
    </tbody>
    </table>


{% endblock%}