{% extends 'index.html' %}
{% block content%}
    <!-- Content here -->
        <div class="container-fluid">
        <form method='POST'> {% csrf_token %}
        <div class="form-group">
            <label class='text-white'>アーティスト</label>
            <input type="text" class="form-control " placeholder="アーティスト名を入力">
        </div>
        <div class="d-flex justify-content-left">
        <button type="submit" class="btn btn-success text-white"">作成する </button>
        </div>
        </div>
        </form>
{% endblock content%}
